@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #265073;
  --max-width: 100%;
}

/* GENERAL STYLE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.skill-area {
  padding-top: 5%;
  padding-bottom: 11%;
}

.custom {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-right: 1rem;
  margin-left: 1rem;
}

.section-header {
  text-align: center;
  margin-bottom: 60px;
}

.section-header h2 {
  font-size: 40px;
  color: var(--primary-color);
  margin: 0;
}

.title-area {
  font-size: 25px;
  text-transform: uppercase;
  color: var(--primary-color);
  text-align: center;
  padding-bottom: 25px;
}

.single-skill {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.topic {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}

.bar {
  position: absolute;
  bottom: -0.75rem;
  height: 0.25rem;
  background-color: var(--primary-color);
  width: 0; 
  animation: grow 1.5s ease-in-out forwards; 
}

/* Define the final widths for each bar */
.bar-1 {
  animation-name: grow-85; 
}

.bar-2 {
  animation-name: grow-80; 
}

.bar-3 {
  animation-name: grow-75; 
}

.bar-4 {
  animation-name: grow-85; 
}

.bar-5 {
  animation-name: grow-65; 
}

.bar-6 {
  animation-name: grow-90; 
}

.bar-7 {
  animation-name: grow-75; 
}

.bar-8 {
  animation-name: grow-80; 
}

.bar-9 {
  animation-name: grow-85;
}

/* Define the animations for each percentage */
@keyframes grow-90 {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

@keyframes grow-85 {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}

@keyframes grow-80 {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes grow-75 {
  from {
    width: 0;
  }
  to {
    width: 75%;
  }
}

@keyframes grow-65 {
  from {
    width: 0;
  }
  to {
    width: 65%;
  }
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
  }

  section {
    padding: 3rem 0 2rem;
  }

  .custom {
    margin-left: auto;
    margin-right: auto;
  }
}