@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --primary-color: #265073;
  --max-width: 100%;
}

/* GENERAL STYLE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.design-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  min-height: 100vh;
  padding: 100px 0;
}

.design-section h2 {
  color: white;
  font-size: 40px;
  padding-bottom: 60px;
}


.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.timeline-content {
  padding: 20px;
  background: #1f1f1f;
  -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
          box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
  border-radius: 5px;
  color: white;
  padding: 1.75rem;
  transition: 0.4s ease;
  overflow-wrap: break-word !important;
  margin: 1rem;
  margin-bottom: 20px;
  border-radius: 6px;
}

h3 {
  color: var(--primary-color);
}

.timeline-component {
  margin: 0px 20px 20px 20px;
}



<<<<<<< HEAD
=======

>>>>>>> 8f3b19e8c843eaff7d13b97f01acfbd8ba2d3aa9
@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-middle {
    position: relative;
    background-color: var(--primary-color);
    width: 3px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}